name: Deploy HSP Simulator

on:
  push:
    branches: [ main, dev ]

jobs:
  build:
    name: Build and Push Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/arm64
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ github.ref_name }}
            ghcr.io/${{ github.repository }}:latest

  deploy:
    name: Deploy to Raspberry Pi
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Connect to Tailscale
        uses: tailscale/github-action@v2
        with:
          authkey: ${{ secrets.TAILSCALE_AUTHKEY }}

      - name: Execute Remote Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            if [ "${{ github.ref_name }}" == "main" ]; then
              DEST_DIR="/app/hsp-simulator-prod"
              STACK_FILE="docker-stack.yml"
              STACK_NAME="hsp-prod"
              API_VAL="${{ vars.API_URL_PROD }}"
            else
              DEST_DIR="/app/hsp-simulator-dev"
              STACK_FILE="docker-stack-dev.yml"
              STACK_NAME="hsp-dev"
              API_VAL="${{ vars.API_URL_DEV }}"
            fi
            
            mkdir -p $DEST_DIR
            cd $DEST_DIR
            
            # CRIAÇÃO DO .ENV (Igual ao seu projeto de orçamento)
            echo "API_URL=$API_VAL" > .env
            
            docker stack deploy -c $STACK_FILE $STACK_NAME --with-registry-auth --resolve-image always --prune